.Banner {
    width:100%;
    box-sizing:border-box;
    padding: 55px 0;

    &-title {
        text-align: center;
        font-weight: bold;
        font-size: 1.4rem;
        text-transform: uppercase;

        &--big {
            font-size: 2.25rem;
        }

        &--inline {
            display: inline-block;
        }

    }

    &-body {
        margin-top: 15px;

        &--centered {
            text-align: center;
        }
    }

    &--blue {
        background-color: $blue;
        border-top: 2px solid darken($blue, 10%);
        border-bottom: 2px solid darken($blue, 10%);
        color:white;

        .Banner-title {
            color:$tan;
        }
    }

    &--image {
        background-position: center;
        background-size: cover;
    }

    &--default {
        background-color: white;

        .Banner-title {
            color:$red;
        }
    }
}