.Testimonial {
    @extend .clearfix;

    box-sizing:border-box;
    padding:20px 100px 0 100px;

    &-photo {
        width:100px;
        height:100px;
        background-size: cover;
        border-radius: 50%;
    }

    &-text {
        color:white;
        text-align: justify;

        @include breakpoint(650px) {
            text-align: left;
        }
    }

    &-tag {
        color:white;
        text-align: right;
        text-transform: uppercase;
        letter-spacing: .3rem;
        margin-top: 15px;
    }

    &-leftContainer {
        float:left;

        @include breakpoint(650px) {
            display: none;
        }
    }

    &-rightContainer {
        float:left;
        width:80%;
        box-sizing:border-box;
        padding-left:30px;

        @include breakpoint(650px) {
            width:100%;
            padding-left: 0;
        }
    }
}